
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/master_layout.cshtml";
}
@using Web_mvc.DAO
@using Web_mvc.DB
@model dynamic
 
<style>
    a.btn-register {
        padding: 8px 20px;
        background: #ed0677;
        color: #fff;
        -moz-border-radius: 100px;
        -webkit-border-radius: 100px;
        border-radius: 100px;
        font-size: 16px;
        border: none;
        outline: none;
    }

    .pd-menu .menu-root {
        display: none !important;
    }
</style>
<div class="page__content">
    <script src="https://shop.vnptthanhhoa.vn/js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="https://shop.vnptthanhhoa.vn/js/cloud-zoom.1.0.2.js" type="text/javascript" charset="utf-8"></script>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0" nonce="QH5eTQTz"></script>
    <div class="page">
        <!-- header-->
        <div class="page__content">
            <!-- main content-->
            <div class="container mb-30">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a class="link-unstyled" href="https://shop.vnptthanhhoa.vn">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a class="link-unstyled" href="https://shop.vnptthanhhoa.vn/danh-muc-san-pham">Sản phẩm</a></li>
                    <li class="breadcrumb-item active">@Model.TenDanhMuc.DanhMuc</li>
                </ol>
                <div class="row gutter -all-20">
                    <div class="col-xl-9">
                        <div class="row h-100 gutter -all-20">
                            <div class="col-md-6 mb-30">
                                <article class="preview">
                                    <div class="preview__main">
                                        <div class="preview-slider">
                                            <div class="preview-slider__container swiper-container">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <a class="preview-slider__frame js-zoom" href="https://shop.vnptthanhhoa.vn/image/0/0/mEnCGw4yDROwkqWGw0lPxY2mxA63q3WSB7KJqkWC.jpg" data-fancybox="preview"><img src="https://shop.vnptthanhhoa.vn/image/0/0/mEnCGw4yDROwkqWGw0lPxY2mxA63q3WSB7KJqkWC.jpg" alt="" /></a>
                                                        <!-- <div class="preview-slider__frame"><img src="./images/product-img.jpg" alt="" /></div> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview__thumbs">
                                        <div class="thumb-slider">
                                            <div class="thumb-slider__prev"><i class="fa fa-angle-left"></i></div>
                                            <div class="thumb-slider__next"><i class="fa fa-angle-right"></i></div>
                                            <div class="thumb-slider__container swiper-container">
                                                <div class="swiper-wrapper">
                                                    <div class="swiper-slide">
                                                        <div class="thumb-slider__frame"><img src="https://shop.vnptthanhhoa.vn/image/300/300/mEnCGw4yDROwkqWGw0lPxY2mxA63q3WSB7KJqkWC.jpg" alt="" /></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-6 mb-30">
                                <section class="pd-info">
                                    <h1 class="pd-info__title">@Model.TenDanhMuc.DanhMuc</h1>
                                      
                                    <div class="pd-info__price">                                        
                                        
                                        @if (Model.TenDanhMuc.TienGiamGia == 0)
                                        {
                                            <div>@Model.TenDanhMuc.TienGoc  đ</div>
                                        }
                                        else
                                        {
                                            <div>@Model.TenDanhMuc.TienGiamGia  đ</div>
                                            <del>@Model.TenDanhMuc.TienGoc ₫</del> <span></span>
                                        }
                                    </div>
                                    <!-- <div class="pd-info__code"><strong>Mã SKU:</strong> SP00000600</div> -->
                                    <div class="pd-info__detail">
                                        @Model.TenDanhMuc.MoTaNgan

                                    </div>
                                    <div class="pd-info__sharing">

                                        <div class="text-uppercase mr-20">Chia sẻ</div>
                                        <nav class="pd-social">

                                            <a class="pd-social__item"
                                               href="https://www.facebook.com/sharer/sharer.php?u=https://shop.vnptthanhhoa.vn/san-pham/goi-digi249"
                                               data-size="large"><i class="fa fa-facebook"></i></a>
                                            <a class="pd-social__item"
                                               href="https://twitter.com/intent/tweet?url=https://shop.vnptthanhhoa.vn/san-pham/goi-digi249"
                                               data-size="large"><i class="fa fa-twitter"></i> </a>
                                            <!-- <a class="pd-social__item" href="#!"> <i class="fa fa-facebook"></i></a> -->
                                            <!-- <a class="pd-social__item" href="#!"><i class="fa fa-twitter"></i></a> -->
                                            <!-- <a class="pd-social__item" href="#!"><i class="fa fa-pinterest"></i></a> -->
                                            <!-- <a class="pd-social__item" href="#!"><i class="fa fa-google-plus"></i></a> -->
                                        </nav>
                                    </div>
                                    <div style="margin-top: 10px;">
                                        <a target="_blank" href="https://shop.vnptthanhhoa.vn/lien-he" class="btn btn-register">Đăng ký</a>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 mb-30">
                        <div class="features">
                            <div class="features__item media">
                                <div class="features__icon"><img src="https://shop.vnptthanhhoa.vn/ecommerce4/images/icon-delivery.png" alt=""></div>
                                <div class="media-body">
                                    <div class="text-700 mb-1">Giao hàng toàn quốc</div>
                                    <div class="">Khách hàng dễ dàng kiểm tra đơn hàng tại mục "hành trình đơn hàng"</div>
                                </div>
                            </div>
                            <div class="features__item media">
                                <div class="features__icon"><img src="https://shop.vnptthanhhoa.vn/ecommerce4/images/icon-alarm.png" alt=""></div>
                                <div class="media-body">
                                    <div class="text-700 mb-1">Giá bán đã bao gồm thuế VAT</div>
                                    <div class=""></div>
                                </div>
                            </div>
                            <div class="features__item media">
                                <div class="features__icon"><img src="https://shop.vnptthanhhoa.vn/ecommerce4/images/icon-exchange.png" alt=""></div>
                                <div class="media-body">
                                    <div class="text-700 mb-1">Hỗ trợ thanh toán tại nhà</div>
                                    <div class=""></div>
                                </div>
                            </div>
                            <div class="features__item media">
                                <div class="features__icon"><img src="https://shop.vnptthanhhoa.vn/ecommerce4/images/icon-check-list.png" alt=""></div>
                                <div class="media-body">
                                    <div class="text-700 mb-1">Thanh toán Online dễ dàng nhanh chóng</div>
                                    <div class=""></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <ul class="nav pd-tabs">
                    <li class="nav-item"><a class="nav-link active" href="#detail-tab-1" data-toggle="tab">MÔ TẢ CHI TIẾT</a></li>
                    <li class="nav-item"><a class="nav-link" href="#detail-tab-2" data-toggle="tab">BÌNH LUẬN</a></li>
                </ul> -->
                <div class="tab-content mb-40">
                    <ul class="nav pd-tabs mb-3">
                        <li class="nav-item">
                            <a class="nav-link active js-scroll-to" href="#product-description" data-toggle="tab">Đặc điểm nổi bật</a>
                        </li>
                        <!-- <li class="nav-item"><a class="nav-link active js-scroll-to" href="#tab1">Đặc điểm nổi bật</a></li> -->
                        <li class="nav-item"><a class="nav-link js-scroll-to" href="#comment">Đánh giá & Nhận xét</a></li>
                        <!-- <li class="col-100"><a href="#tab3" data-toggle="tab" aria-expanded="false">Hỏi & Đáp</a></li> -->
                        <!-- <li class="col-100"><a href="#tab4" data-toggle="tab" aria-expanded="false">Địa điểm</a></li> -->
                    </ul>
                    <section class="pd-desc" id="product-description">
                        <div class="pd-desc__content">
                            @Model.TenDanhMuc.NoiDung
                        </div>
                        <!-- <a class="pd-desc__btn btn btn-outline-primary" href="#!">Đọc thêm</a> -->
                    </section>
                    <section class="mt-50" id="comment">
                        <div class="comment-area">
                            <form class="send-comment px-0">
                                <h2 class="send-comment__title">GỬI NHẬN XÉT CỦA BẠN</h2>
                                <div class="form-group mb-0">
                                    <div class="send-comment__label">
                                        <span>1, Đánh giá của bạn về sản phẩm này</span>
                                        <!-- <div class="star-input"> -->
                                        <div class="box-star" style="display:inline;">
                                            <input type="hidden" class="rating rating-tooltip-manual" data-filled="fa fa-star fa-2x" data-empty="fa fa-star-o fa-2x" />
                                        </div>
                                        <!-- <input type="radio" name="ml-3" value="5" /><span></span>
                                            <input type="radio" name="ml-3" value="4" /><span></span>
                                            <input type="radio" name="ml-3" value="3" /><span></span>
                                            <input type="radio" name="ml-3" value="2" /><span></span>
                                            <input type="radio" name="ml-3" value="1" /><span></span> -->
                                        <!-- </div> -->
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="send-comment__label">4, Viết nhận xét của bạn vào bên dưới</label>
                                    <textarea id="txtNoteRating" name="txtNoteRating" class="form-control" rows="4" placeholder="Nhận xét của bạn về sản phẩm này"></textarea>
                                </div>
                                <div class="form-group text-right">
                                    <button class="pd-btn pd-btn--lg" type="button" onClick='saveRate()'>Gửi nhận xét</button>
                                </div>
                            </form>
                            <form class="comment-filter form-inline">
                                <label class="mr-4">Chọn xem nhận xét</label>
                                <div class="form-group comment-filter__group">
                                    <select class="form-control mr-3">
                                        <option>Nhận xét được yêu thích nhất</option>
                                        <option>Nhận xét được yêu thích nhất</option>
                                        <option>Nhận xét được yêu thích nhất</option>
                                    </select>
                                </div>
                            </form>
                            <ul class="list-unstyled mb-0">
                            </ul>
                            <!-- <div class="text-center mt-20"><a class="btn btn-block btn-outline-primary mx-auto" href="#!" style="max-width: 50%;">Xem thêm</a></div> -->
                        </div>
                    </section>
                </div>
                <section class="section">
                    <div class="section__header bg-light">
                        <h2 class="section__title">Sản phẩm liên quan</h2>
                    </div>
                    <div class="pd-grid">
                        @foreach (DanhMuc i in Model.MaLoaiDanhMuc)
                        {
                            <div class="product">
                                <a class="product__frame" href="https://shop.vnptthanhhoa.vn/san-pham/dinh-15g"><img src="https://shop.vnptthanhhoa.vn/image/300/300/ibsbBHOl0mXe5sgs93aoqwrf8qLvpD40iHPF77dh.png" alt="" /></a>
                                <div class="product__body">
                                    <h3 class="product__title"><a href="https://shop.vnptthanhhoa.vn/san-pham/dinh-15g">@i.TenDanhMuc</a></h3>
                                    <div class="product__price">
                                        @if(i.TienGiamGia == 0)
                                        {
                                            @i.TienGoc 
                                        }
                                        else
                                        {
                                            @i.TienGiamGia
                                        }
                                        ₫
                                    </div>
                                </div>
                            </div>
                        }
                        @*<div class="product">
            <a class="product__frame" href="https://shop.vnptthanhhoa.vn/san-pham/dinh-15g"><img src="https://shop.vnptthanhhoa.vn/image/300/300/ibsbBHOl0mXe5sgs93aoqwrf8qLvpD40iHPF77dh.png" alt="" /></a>
            <div class="product__body">
                <h3 class="product__title"><a href="https://shop.vnptthanhhoa.vn/san-pham/dinh-15g">ĐỈNH 15G</a></h3>
                <div class="product__price">
                    70.000 ₫
                </div>
            </div>
        </div>
        <div class="product">
            <a class="product__frame" href="https://shop.vnptthanhhoa.vn/san-pham/max-100-30gb-30-ngay"><img src="https://shop.vnptthanhhoa.vn/image/300/300/6LfBuezYX0OIDg2aQ9QvFAsiAEtxAJwUu3iGdqRl.jpg" alt="" /></a>
            <div class="product__body">
                <h3 class="product__title"><a href="https://shop.vnptthanhhoa.vn/san-pham/max-100-30gb-30-ngay">MAX 100 - 30GB/30 ngày</a></h3>
                <div class="product__price">
                    100.000 ₫
                </div>
            </div>
        </div>
        <div class="product">
            <a class="product__frame" href="https://shop.vnptthanhhoa.vn/san-pham/goi-d30p"><img src="https://shop.vnptthanhhoa.vn/image/300/300/lec7VFyNhDSXmUUBMJrPiEzDgciumjnJLACzEcQm.jpg" alt="" /></a>
            <div class="product__body">
                <h3 class="product__title"><a href="https://shop.vnptthanhhoa.vn/san-pham/goi-d30p">Gói D30P</a></h3>
                <div class="product__price">
                    90.000 ₫
                </div>
            </div>
        </div>
        <div class="product">
            <a class="product__frame" href="https://shop.vnptthanhhoa.vn/san-pham/goi-d60g"><img src="https://shop.vnptthanhhoa.vn/image/300/300/wvz2leoeUl1Aicb9jXU3PUKLPLg0tdWi8wsdaVSx.jpg" alt="" /></a>
            <div class="product__body">
                <h3 class="product__title"><a href="https://shop.vnptthanhhoa.vn/san-pham/goi-d60g">Gói D60G</a></h3>
                <div class="product__price">
                    120.000 ₫
                </div>
            </div>
        </div>
        <div class="product">
            <a class="product__frame" href="https://shop.vnptthanhhoa.vn/san-pham/goi-dinhtv129"><img src="https://shop.vnptthanhhoa.vn/image/300/300/nQcsdRuUdeJjEG41eeda7pikKwP2F5wxWszBkj86.jpg" alt="" /></a>
            <div class="product__body">
                <h3 class="product__title"><a href="https://shop.vnptthanhhoa.vn/san-pham/goi-dinhtv129">Gói ĐỈNHTV129</a></h3>
                <div class="product__price">
                    129.000 ₫
                </div>
            </div>
        </div>
        <div class="product">
            <a class="product__frame" href="https://shop.vnptthanhhoa.vn/san-pham/goi-d99v"><img src="https://shop.vnptthanhhoa.vn/image/300/300/rxo5TPup7vSwX0LnDLXKLXzVFGpWpkCdoWPlbSae.jpg" alt="" /></a>
            <div class="product__body">
                <h3 class="product__title"><a href="https://shop.vnptthanhhoa.vn/san-pham/goi-d99v">Gói D99V</a></h3>
                <div class="product__price">
                    99.000 ₫
                </div>
            </div>
        </div>*@

                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
