@model Web_mvc.Models.Custom_index
@{
    decimal? tien;
    string index_tien;
    var CultureInfo = ViewBag.CultureInfo;
    decimal? tamp;
}
@foreach (var item in Model.DanhMuc)
{

    <div class="product">
        <a class="product__frame" href="@Url.Action("Index", "Home")">
            <img src="@item.Link" alt="@item.TenDanhMuc" />
        </a>
        <div class="product__body">
            <h3 class="product__title"><a href="@Url.Action("Index", "Home")">@item.TenDanhMuc</a></h3>
            <div class="product__price">
                @if (item.GiamGia.TyLe == 0) {                    
                        tien = item.TienGoc;
                        index_tien = string.Format(CultureInfo, "{0:#,##0.00}", tien) + "đ";
                    
                    @index_tien
                }
                else {
                    tien = item.TienGoc;
                    decimal? giamgia = 100 - item.GiamGia.TyLe;
                    //tamp = tien * ((100 - item.GiamGia.TyLe) / 100);
                    tamp = tien * (giamgia / 100);
                    index_tien = string.Format(CultureInfo, "{0:#,##0.00}", tamp) +"đ";
                    var f_tien = string.Format(CultureInfo, "{0:#,##0.00}", tien) + "đ";

                    @index_tien
                    <span>@item.GiamGia.TenGiamGia</span>
                    <del> @f_tien</del>
                }


            </div>
        </div>
    </div>
}

